.App {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
}

.jobs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}