.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  align-content: center;
}

.jobs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}